<%- include("partials/header")%>

    <h3>User Registration</h3>
    <form class="w-50" action="/register" method="POST">
        <input class="form-control mb-3" name="username" type="text" placeholder="Username" />
        <input class="form-control mb-3" name="password" type="password" placeholder="********" />
        <button class="btn btn-dark">Register</button>
    </form>

    <%- include("partials/footer")%>