.show-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    padding: 2vmax;
}

.book-card {
    box-shadow: 0 0 10px rgb(215, 215, 215);

    width: 22vmax;
    height: 30vmax;
    margin-right: 2vmax;
    margin-bottom: 1vmax;
}

.book-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}
